@page
@model AboutModel
@{


    var lastWeek = Model.weekNum == 1 ? 52 : Model.weekNum - 1;
    var nextWeek = Model.weekNum == 52 ? 1 : Model.weekNum + 1;
}


<div class="row header" align="center">
    <div class="num foodName">@Model.RestaurantName</div>
    <div class=num>
        <a href="~/Food?week=@lastWeek&year=@Model.Year">&#10134</a>
        Viikko @Model.weekNum
        <a href="~/Food?week=@nextWeek&year=@Model.Year">&#10133;</a>
    </div>
    <div class="num">
        Vuosi: @Model.Year
    </div>
</div>


@foreach (Day day in Model.Week)
{
    <div class="row card">
        <h2>@day.Name</h2>
        @foreach (Food food in day.FoodList)
        {
            <p>
                Ruoka: @food.Name
                <br />
                hinta: @food.Price
                <br />
                Ainekset :
                @foreach (string comp in food.Components)
                {
                    @comp

                }
            </p>
            <br />
        }
    </div>
}