@page
@model TimetableModel
@{
    ViewData["Title"] = "Timetable";
    String luokka = "TTV15S3";
    var year = DateTime.Today.Year;
    var currentWeek = 37;
    var lastWeek = currentWeek - 1;
    var nextWeek = currentWeek + 1;
}


<!--
    
<div class="row header" align="center">
    <form method="get" action="~/Timetable">
        <select name="luokka" onchange="this.format.submit()">
            @*Get Stuff *@
            @foreach (var group in Model.Groups)
            {
                <option value="@group">@group</option>
            }
        </select>
    </form>
    <div class=num>
        <a href="~/Timetable?luokka=@luokka&week=@lastWeek&year=@year">&#10134</a>
        Viikko @currentWeek
        <a href="~/Timetable?luokka=@luokka&week=@nextWeek&year=@year">&#10133;</a>
    </div>

    <div class="num">
        Vuosi: @year
    </div>
</div>

-->
@foreach (var day in Model.Week)
{
    <div class="row card">
        <h2>@day.Name</h2>

        @foreach (var tunti in day.Tunnit)
        {
            <p>
                Kurssi: @tunti.name
            <br />
                Tunnus: @tunti.courseid
            <br />
                Aika : @tunti.time
            <br />
                Luokka: @tunti.room
            </p>
            <br>
        }
    </div>
}